* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #343651;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #343651;
}

@media (max-width: 712px) {
  h2 {
    font-size: 22px;
  }
}

/********************Header********************/
header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10%;
  background: radial-gradient(59.01% 3480.58% at 11.61% 50%, #FFFFFF 0%, #F5F9FF 100%);
}

@media (max-width: 1366px) {
  header {
    padding: 30px 5%;
  }
}

header #header-content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header #header-content .header-item {
  height: 190px;
}

@media (max-width: 1024px) {
  header #header-content .header-item {
    height: auto;
  }
}

header #header-content #header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15%;
}

header #header-content #header-left #logo {
  cursor: pointer;
}

@media (max-width: 1024px) {
  header #header-content #header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 15%;
  }
}

@media (max-width: 712px) {
  header #header-content #header-left {
    width: 20%;
  }
}

@media (max-width: 482px) {
  header #header-content #header-left {
    width: 30%;
  }
}

header #header-content #header-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: none;
  width: 30%;
}

@media (max-width: 1024px) {
  header #header-content #header-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header #header-content #header-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: none;
  width: 30%;
}

header #header-content #header-close.mobile {
  z-index: 99999999;
}

header #header-content #header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 60%;
}

@media (max-width: 1024px) {
  header #header-content #header-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  header #header-content #header-center #header-text {
    width: 100%;
  }
}

header #header-content #header-center #header-text span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: none;
  color: #343651;
}

@media (max-width: 712px) {
  header #header-content #header-center #header-text span {
    font-size: 10px;
  }
}

header #header-content #header-center #header-text h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 41px;
  line-height: 60px;
  color: #343651;
}

@media (max-width: 1024px) {
  header #header-content #header-center #header-text h1 {
    line-height: unset;
  }
}

@media (max-width: 712px) {
  header #header-content #header-center #header-text h1 {
    font-size: 28px;
  }
}

@media (max-width: 482px) {
  header #header-content #header-center #header-text h1 {
    font-size: 22px;
  }
}

header #header-content #header-center #header-menu {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

header #header-content #header-center #header-menu li {
  position: relative;
}

@media (max-width: 1024px) {
  header #header-content #header-center #header-menu li:active .dropdown-content {
    display: block;
  }
}

header #header-content #header-center #header-menu li a {
  text-decoration: none;
  color: #343651;
}

header #header-content #header-center #header-menu li:hover .dropdown-content {
  display: block;
}

header #header-content #header-center #header-menu li .navbar-menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  header #header-content #header-center #header-menu li .navbar-menu-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
  header #header-content #header-center #header-menu li .navbar-menu-link::before {
    position: absolute;
    display: inline-block;
    content: '';
    z-index: 99999;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: -160px;
    background-color: transparent;
  }
}

header #header-content #header-center #header-menu li .navbar-menu-link::after {
  position: absolute;
  display: inline-block;
  content: '';
  z-index: 99999;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-bottom: -90px;
  background-color: transparent;
}

@media (max-width: 1024px) {
  header #header-content #header-center #header-menu li .navbar-menu-link::after {
    margin-bottom: 0;
    margin-right: -160px;
  }
}

header #header-content #header-center #header-menu li .navbar-menu-link:hover::after {
  background-color: #343651;
  opacity: 0.2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1024px) {
  header #header-content #header-center #header-menu li .navbar-menu-link:hover::before {
    background-color: #343651;
    opacity: 0.2;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

header #header-content #header-center #header-menu li .dropdown-content {
  display: none;
  position: absolute;
  min-width: 320px;
  z-index: 9999;
  background-color: transparent;
  padding-top: 30px;
  top: 100%;
  left: 0;
  -webkit-box-shadow: 0px 35px 30px -25px #E6EAF0;
          box-shadow: 0px 35px 30px -25px #E6EAF0;
  border-radius: 4px;
}

@media (max-width: 1024px) {
  header #header-content #header-center #header-menu li .dropdown-content {
    position: inherit;
    top: auto;
    left: auto;
  }
}

header #header-content #header-center #header-menu li .dropdown-content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #FFFFFF;
  padding: 12px 28px;
}

@media (max-width: 1024px) {
  header #header-content #header-center #header-menu li .dropdown-content li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header #header-content #header-center #header-menu li .dropdown-content li:hover {
    background-color: #f4f6f87c;
  }
}

header #header-content #header-center #header-menu li .dropdown-content li::before {
  position: absolute;
  display: inline-block;
  content: '';
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: transparent;
  margin-left: -18px;
}

header #header-content #header-center #header-menu li .dropdown-content li:hover::before {
  background-color: #71B9F9;
}

@media (max-width: 1024px) {
  header #header-content #header-center #header-menu li .dropdown-content li:hover::before {
    background-color: transparent;
  }
}

header #header-content #header-center #header-menu li #this-page::after {
  background-color: #343651;
  margin-bottom: -45px;
}

@media (max-width: 1024px) {
  header #header-content #header-center #header-menu li #this-page::after {
    margin-bottom: unset;
  }
}

@media (max-width: 1024px) {
  header #header-content #header-center #header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: #ffffffee;
    position: absolute;
    margin-top: -200%;
  }
}

header #header-content #header-center #header-menu.mobile {
  position: fixed;
  height: 100vh;
  z-index: 9999;
  margin: auto 0;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-animation: fadeIn 0.3s;
          animation: fadeIn 0.3s;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(100);
            transform: translateY(100);
    margin-top: -100%;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-top: auto;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(100);
            transform: translateY(100);
    margin-top: -100%;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-top: auto;
  }
}

header #header-content #header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
  padding: 10px 0px;
}

@media (max-width: 1024px) {
  header #header-content #header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-bottom: 0;
  }
}

header #header-content #header-right .header-right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #header-content #header-right .header-right-item li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #header-content #header-right .header-right-item li::before {
  position: absolute;
  display: inline-block;
  content: '';
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -80px;
  background-color: transparent;
}

@media (max-width: 1024px) {
  header #header-content #header-right .header-right-item li::before {
    margin-top: -50px;
  }
}

header #header-content #header-right .header-right-item li:hover::before {
  background-color: #343651;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header #header-content #header-right .header-right-item li .current {
  background-color: #343651;
  color: #FFFFFF;
}

header #header-content .navbar-menu-item, header #header-content .part-1, header #header-content .part-2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #343651;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media (max-width: 1024px) {
  header #header-content .navbar-menu-item, header #header-content .part-1, header #header-content .part-2 {
    padding: 15px;
  }
}

header #header-content .part-1, header #header-content .part-2 {
  background-color: #FFFFFF;
  color: #343651;
  padding: 12px 18px;
  border-radius: 22px;
  border: 0;
  margin: 0px 5px;
  font-size: 18px;
}

@media (max-width: 1024px) {
  header #header-content .part-1, header #header-content .part-2 {
    font-size: 14px;
    padding: 9px 12px;
    border-radius: 16px;
    margin: 7px 3px 0px 3px;
    line-height: unset;
  }
}

@media (max-width: 712px) {
  header #header-content .part-1, header #header-content .part-2 {
    font-size: 12px;
    padding: 6px 9px;
  }
}

header #header-content .part-1:hover, header #header-content .part-2:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 1px 18px 8px -11px #D6DCE3;
          box-shadow: 1px 18px 8px -11px #D6DCE3;
}

header #header-content .part-2 {
  width: 50px;
  height: 50px;
  padding: auto;
  font-size: 12px;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  header #header-content .part-2 {
    width: 40px;
    height: 40px;
    font-size: 11px;
    margin: 7px 3px 0px 3px;
    line-height: unset;
  }
}

@media (max-width: 712px) {
  header #header-content .part-2 {
    width: 30px;
    height: 30px;
    font-size: 10px;
  }
}

/********************Main Section********************/
#main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 10%;
  background-color: #F4F6F8;
  position: relative;
}

@media (max-width: 1366px) {
  #main {
    padding: 30px 5%;
  }
}

#main #main-content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main #main-content #page-identifier #current-page {
  position: relative;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 15px;
}

#main #main-content #page-identifier #current-page::before {
  position: absolute;
  display: inline-block;
  content: '';
  border-radius: 50%;
  height: 5px;
  width: 5px;
  top: 5px;
  left: -10px;
  background-color: #343651;
}

#main #main-content ul.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  margin-top: -40px;
  margin-bottom: 40px;
}

@media (max-width: 1366px) {
  #main #main-content ul.breadcrumb {
    margin-top: -20px;
  }
}

#main #main-content ul.breadcrumb li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: unset;
  line-height: 16px;
  color: #343651;
  opacity: 0.5;
  position: relative;
  margin-right: 15px;
}

#main #main-content ul.breadcrumb li::before {
  position: absolute;
  display: inline-block;
  content: '';
  border-radius: 50%;
  height: 5px;
  width: 5px;
  top: 5px;
  left: -10px;
  background-color: #343651;
}

#main #main-content ul.breadcrumb li:first-child::before {
  display: none;
}

#main #main-content ul.breadcrumb li a {
  color: #343651;
  opacity: 0.5;
  text-decoration: none;
}

#main #main-content ul.breadcrumb li a:hover {
  opacity: 1;
}

#main #main-content #form-mobile, #main #main-content #form-mobile input {
  display: none;
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 30px;
  position: relative;
  margin-bottom: 40px;
}

#main #main-content #form-mobile input {
  padding: 15px 30px;
  border: none;
  -webkit-box-shadow: 1px 18px 8px -11px #E9EEF3;
          box-shadow: 1px 18px 8px -11px #E9EEF3;
}

#main #main-content #form-mobile button {
  height: auto;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
}

#main #main-content #form-mobile button svg {
  width: 100%;
}

@media (max-width: 1366px) {
  #main #main-content #form-mobile, #main #main-content #form-mobile input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#main #main-content .main-row {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1366px) {
  #main #main-content .main-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#main #main-content .main-row #list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 55%;
}

@media (max-width: 1366px) {
  #main #main-content .main-row #list {
    width: 100%;
    padding-bottom: 50px;
  }
}

#main #main-content .main-row #list p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: none;
  color: #343651;
}

@media (max-width: 712px) {
  #main #main-content .main-row #list p {
    font-size: 22px;
  }
}

#main #main-content .main-row #list ul {
  width: 100%;
}

#main #main-content .main-row #list #archives-list {
  padding-top: 40px;
}

#main #main-content .main-row #list #archives-list b {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: unset;
  line-height: 18px;
  color: #343651;
}

#main #main-content .main-row #list #archives-list .archives-item {
  padding: 20px 0;
}

#main #main-content .main-row #list #archives-list .archives-item .inner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main #main-content .main-row #list #archives-list .archives-item .inner-list li {
  width: 23%;
  margin-top: 20px;
  line-height: 24px;
  background-color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  -webkit-box-shadow: 1px 18px 8px -11px #E9EEF3;
          box-shadow: 1px 18px 8px -11px #E9EEF3;
}

@media (max-width: 712px) {
  #main #main-content .main-row #list #archives-list .archives-item .inner-list li {
    width: 48%;
  }
}

#main #main-content .main-row #list #archives-list .archives-item .inner-list li:hover {
  -webkit-box-shadow: 1px 18px 8px -11px #D6DCE3;
          box-shadow: 1px 18px 8px -11px #D6DCE3;
}

#main #main-content .main-row #list #archives-list .archives-item .inner-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  padding: 20px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: unset;
  line-height: 16px;
  color: #343651;
}

#main #main-content .main-row #list #archives-list .archives-item .inner-list li a::before {
  display: inline-block;
  position: absolute;
  content: '';
  border-radius: 50%;
  height: 10px;
  width: 10px;
  left: 10px;
  top: 20px;
  background-color: transparent;
}

#main #main-content .main-row #list #archives-list .archives-item .inner-list li a:hover::before {
  background-color: #71B9F9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#main #main-content .main-row #info-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 30%;
}

@media (max-width: 1366px) {
  #main #main-content .main-row #info-search {
    width: 100%;
  }
}

#main #main-content .main-row #info-search #search, #main #main-content .main-row #info-search #search input {
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 30px;
  position: relative;
  margin-bottom: 80px;
}

@media (max-width: 1366px) {
  #main #main-content .main-row #info-search #search, #main #main-content .main-row #info-search #search input {
    display: none;
  }
}

#main #main-content .main-row #info-search #search input {
  padding: 15px 30px;
  border: none;
  -webkit-box-shadow: 1px 18px 8px -11px #E9EEF3;
          box-shadow: 1px 18px 8px -11px #E9EEF3;
}

#main #main-content .main-row #info-search #search button {
  height: auto;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
}

#main #main-content .main-row #info-search #search button svg {
  width: 100%;
}

#main #main-content .main-row #info-search P {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #343651;
}

#main #main-content .main-row #info-search #information {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 712px) {
  #main #main-content .main-row #info-search #information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
}

#main #main-content .main-row #info-search #information li {
  width: 45%;
  margin-top: 30px;
  background-color: white;
}

@media (max-width: 1024px) {
  #main #main-content .main-row #info-search #information li {
    width: 100%;
  }
  #main #main-content .main-row #info-search #information li br {
    display: none;
  }
}

#main #main-content .main-row #info-search #information li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  padding: 30px 0;
  -webkit-box-shadow: 1px 18px 8px -11px #E9EEF3;
          box-shadow: 1px 18px 8px -11px #E9EEF3;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: unset;
  line-height: 16px;
  color: #343651;
}

#main #main-content .main-row #info-search #information li a::before {
  display: inline-block;
  position: absolute;
  content: '';
  border-radius: 50%;
  height: 10px;
  width: 10px;
  left: 10px;
  top: 10px;
  background-color: transparent;
}

#main #main-content .main-row #info-search #information li a:hover {
  -webkit-box-shadow: 1px 18px 8px -11px #D6DCE3;
          box-shadow: 1px 18px 8px -11px #D6DCE3;
}

#main #main-content .main-row #info-search #information li a:hover::before {
  background-color: #71B9F9;
}

/********************Footer********************/
footer {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10%;
  background: radial-gradient(744.83% 245.19% at 53.31% 0%, #FFFFFF 54.12%, #F5F9FF 100%);
}

@media (max-width: 1366px) {
  footer {
    padding: 30px 5%;
  }
}

footer #footer-content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1024px) {
  footer #footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

footer #footer-content #footer-1 {
  width: 19%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1024px) {
  footer #footer-content #footer-1 {
    display: none;
  }
}

footer #footer-content #footer-2 {
  width: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 36px;
  color: #343651;
}

@media (max-width: 1024px) {
  footer #footer-content #footer-2 {
    width: 100%;
  }
}

footer #footer-content #footer-2 #footer-2-1, footer #footer-content #footer-2 #footer-2-2 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer #footer-content #footer-2 #footer-2-1 #requisites, footer #footer-content #footer-2 #footer-2-2 #requisites {
  width: 50%;
  text-align: left;
}

footer #footer-content #footer-2 #footer-2-1 #address, footer #footer-content #footer-2 #footer-2-2 #address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  text-align: right;
}

footer #footer-content #footer-2 #footer-2-2 {
  margin-top: 40px;
}

@media (max-width: 712px) {
  footer #footer-content #footer-2 #footer-2-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

footer #footer-content #footer-2 #footer-2-2 #editors-name, footer #footer-content #footer-2 #footer-2-2 #developers-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #343651;
  line-height: 21px;
  font-family: 'Century Gothic',sans-serif;
}

footer #footer-content #footer-2 #footer-2-2 #developers-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 712px) {
  footer #footer-content #footer-2 #footer-2-2 #developers-name {
    margin-top: 20px;
  }
}

footer #footer-content #footer-2 p, footer #footer-content #footer-2 span, footer #footer-content #footer-2 a {
  text-decoration: none;
  color: #343651;
  opacity: 0.6;
}

@media (max-width: 712px) {
  footer #footer-content #footer-2 p, footer #footer-content #footer-2 span, footer #footer-content #footer-2 a {
    line-height: 18px;
  }
}

footer #footer-content #footer-3 {
  width: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer #footer-content #footer-3 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 1024px) {
  footer #footer-content #footer-3 a {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: 712px) {
  footer #footer-content #footer-3 a {
    width: 20px;
    height: 20px;
  }
}

footer #footer-content #footer-3 a:hover {
  -webkit-box-shadow: 1px 18px 8px -11px #E9EEF3;
          box-shadow: 1px 18px 8px -11px #E9EEF3;
}

@media (max-width: 1024px) {
  footer #footer-content #footer-3 {
    width: auto;
  }
}
/*# sourceMappingURL=archives.css.map */