//Colors
$gradient-header-1: radial-gradient(59.01% 3480.58% at 11.61% 50%, #FFFFFF 0%, #F5F9FF 100%);
$gradient-header-2: radial-gradient(59.01% 3480.58% at 11.61% 50%, #FAA163 0%, #F55C62 100%);
$gradient-header-3: radial-gradient(59.01% 3480.58% at 11.61% 50%, #4DBA6C 0%, #27B568 100%);
$gradient-header-4: radial-gradient(59.01% 3480.58% at 11.61% 50%, #78b0d1 0%, #4591b6 100%);
$gradient-header-5: radial-gradient(59.01% 3480.58% at 11.61% 50%, #393083 0%, #0497d9 100%);
$gradient-header-6: radial-gradient(59.01% 3480.58% at 11.61% 50%, #79B5ED 0%, #5496D5 100%);
$color: #71B9F9;
$color-2: #FA9F63;
$color-3: #5FC27C;
$color-4: #247986;
$color-5: #4989C5;
$color-6: #3C6F9E;
$body-color: #E5E5E5;
$gradient-footer: radial-gradient(744.83% 245.19% at 53.31% 0%, #FFFFFF 54.12%, #F5F9FF 100%);
$heading-color: #343651;
$text-color: #000000;


//Sizing
$primary-width: 100%;
$primary-height: auto;
$header-height: 190px;

$paddingLR: 10%;
$paddingUD: 30px;


//Initial Style
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
