* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #343651;
}

/********************Header********************/
header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10%;
  background: radial-gradient(59.01% 3480.58% at 11.61% 50%, #FFFFFF 0%, #F5F9FF 100%);
  overflow-y: hidden;
  height: 250px;
  z-index: 1;
}

header #header-content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 190px;
  overflow-y: hidden;
}

header #header-content .header-item {
  color: #343651;
}

header #header-content #header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  height: 190px;
}

header #header-content #header-left img {
  max-width: 100%;
}

header #header-content #header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 60%;
  height: 190px;
}

header #header-content #header-center h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: none;
  color: #343651;
}

header #header-content #header-center h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 41px;
  line-height: 60px;
  color: #343651;
}

header #header-content #header-center ul {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-top: 40px;
}

header #header-content #header-center ul .link {
  text-decoration: none;
  color: #343651;
}

header #header-content #header-center ul .page-pointer {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  margin-top: 90px;
}

header #header-content #header-center ul .active {
  background-color: #343651;
  margin-top: 45px;
}

header #header-content #header-center ul .menu-item:hover .page-pointer, header #header-content #header-center ul .part-1:hover .page-pointer, header #header-content #header-center ul .part-2:hover .page-pointer {
  background-color: #343651;
  opacity: 0.2;
}

header #header-content #header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
  height: 190px;
  padding: 10px 0px;
}

header #header-content #header-right .header-right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #header-content #header-right .header-right-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #header-content #header-right .header-right-item div .lang-pointer {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  margin-top: -70px;
}

header #header-content #header-right .header-right-item div .active {
  background-color: #343651;
}

header #header-content .menu-item, header #header-content .part-1, header #header-content .part-2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #343651;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #header-content .part-1, header #header-content .part-2 {
  background-color: #FFFFFF;
  color: #343651;
  padding: 12px 18px;
  border-radius: 22px;
  border: 0;
  margin: 0px 5px;
}

header #header-content .part-2 {
  font-size: 12px;
  padding: 9px 12px;
  border-radius: 50%;
}

header #header-content .current {
  -webkit-box-shadow: 0 5px 5px -5px #333;
          box-shadow: 0 5px 5px -5px #333;
}

/********/
#line {
  height: 10px;
  z-index: 9999;
  background-color: #F4F6F8;
  position: relative;
  border: none;
}

/********************Main Section********************/
#main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 10%;
  background-color: #F4F6F8;
}

#main #main-content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1366px) {
  #main #main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#main #main-content #main-column-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  padding-right: 45px;
}

@media (max-width: 1366px) {
  #main #main-content #main-column-1 {
    width: 100%;
    padding-right: 0;
  }
}

#main #main-content #main-column-1 #about, #main #main-content #main-column-1 #indexing {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  padding: 60px;
  margin-bottom: 80px;
}

#main #main-content #main-column-1 #about .about-row, #main #main-content #main-column-1 #indexing .about-row {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 962px) {
  #main #main-content #main-column-1 #about .about-row, #main #main-content #main-column-1 #indexing .about-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#main #main-content #main-column-1 #about .about-row #about-image, #main #main-content #main-column-1 #indexing .about-row #about-image {
  width: 35%;
  height: auto;
  -webkit-box-shadow: 0px 0px 56px 1px rgba(214, 220, 227, 0.75);
          box-shadow: 0px 0px 56px 1px rgba(214, 220, 227, 0.75);
  border-radius: 4px;
}

@media (max-width: 962px) {
  #main #main-content #main-column-1 #about .about-row #about-image, #main #main-content #main-column-1 #indexing .about-row #about-image {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#main #main-content #main-column-1 #about .about-row #about-image img, #main #main-content #main-column-1 #indexing .about-row #about-image img {
  max-width: 100%;
}

#main #main-content #main-column-1 #about .about-row #about-text, #main #main-content #main-column-1 #indexing .about-row #about-text {
  width: 60%;
  height: auto;
}

@media (max-width: 962px) {
  #main #main-content #main-column-1 #about .about-row #about-text, #main #main-content #main-column-1 #indexing .about-row #about-text {
    width: 100%;
  }
}

#main #main-content #main-column-1 #about .about-row .authorship-column, #main #main-content #main-column-1 #indexing .about-row .authorship-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
  height: auto;
}

#main #main-content #main-column-1 #about .about-row .authorship-column div, #main #main-content #main-column-1 #indexing .about-row .authorship-column div {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 60px;
}

@media (max-width: 962px) {
  #main #main-content #main-column-1 #about .about-row .authorship-column div, #main #main-content #main-column-1 #indexing .about-row .authorship-column div {
    margin-top: 20px;
  }
}

#main #main-content #main-column-1 #about .about-row #column-1, #main #main-content #main-column-1 #indexing .about-row #column-1 {
  width: 35%;
  height: auto;
}

@media (max-width: 962px) {
  #main #main-content #main-column-1 #about .about-row #column-1, #main #main-content #main-column-1 #indexing .about-row #column-1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#main #main-content #main-column-1 #about .about-row #column-2, #main #main-content #main-column-1 #indexing .about-row #column-2 {
  width: 60%;
  height: auto;
}

@media (max-width: 962px) {
  #main #main-content #main-column-1 #about .about-row #column-2, #main #main-content #main-column-1 #indexing .about-row #column-2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#main #main-content #main-column-1 #about .about-row h2, #main #main-content #main-column-1 #indexing .about-row h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 41px;
  color: #343651;
}

#main #main-content #main-column-1 #about .about-row p, #main #main-content #main-column-1 #indexing .about-row p, #main #main-content #main-column-1 #about .about-row a, #main #main-content #main-column-1 #indexing .about-row a, #main #main-content #main-column-1 #about .about-row .bold, #main #main-content #main-column-1 #indexing .about-row .bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  margin-top: 50px;
}

#main #main-content #main-column-1 #about .about-row a, #main #main-content #main-column-1 #indexing .about-row a, #main #main-content #main-column-1 #about .about-row .bold, #main #main-content #main-column-1 #indexing .about-row .bold {
  margin: 0;
}

#main #main-content #main-column-1 #about .about-row .bold, #main #main-content #main-column-1 #indexing .about-row .bold {
  font-weight: 700;
}

#main #main-content #main-column-1 #about #layer-block, #main #main-content #main-column-1 #indexing #layer-block {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

#main #main-content #main-column-1 #indexing {
  background-color: #F4F6F8;
  padding: 0;
}

#main #main-content #main-column-1 #indexing div {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFFFFF;
  padding: 40px;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main #main-content #main-column-1 #indexing div img {
  margin-bottom: 20px;
}

#main #main-content #main-column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 30%;
  padding-left: 45px;
}

@media (max-width: 1366px) {
  #main #main-content #main-column-2 {
    width: 100%;
    padding-left: 0;
  }
}

#main #main-content #main-column-2 #search, #main #main-content #main-column-2 #search input {
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 30px;
  position: relative;
  margin-bottom: 80px;
}

#main #main-content #main-column-2 #search input {
  padding: 15px 30px;
  border: none;
  -webkit-box-shadow: 0 5px 5px -5px #333;
          box-shadow: 0 5px 5px -5px #333;
}

#main #main-content #main-column-2 #search svg {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

#main #main-content #main-column-2 #information {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 60px 0 0 -15px;
}

@media (max-width: 1366px) {
  #main #main-content #main-column-2 #information {
    margin-left: 0;
  }
}

#main #main-content #main-column-2 #information .info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: auto;
  padding: 5px;
  position: relative;
}

#main #main-content #main-column-2 #information .info-block .info-name {
  width: 100%;
  height: auto;
  padding: 25px;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #343651;
  -webkit-box-shadow: 0 5px 5px -5px #333;
          box-shadow: 0 5px 5px -5px #333;
  border-radius: 5px;
}

#main #main-content #main-column-2 #information .info-block .info-pointer {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 20px;
}

#main #main-content #main-column-2 #information .info-block .active {
  background-color: #343651;
}

/********************Footer********************/
footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10%;
  background: radial-gradient(744.83% 245.19% at 53.31% 0%, #FFFFFF 54.12%, #F5F9FF 100%);
}

footer #footer-content {
  width: 100%;
  height: 420px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer #footer-content #footer-1 {
  width: 19%;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 962px) {
  footer #footer-content #footer-1 {
    display: none;
  }
}

footer #footer-content #footer-2, footer #footer-content #footer-3 {
  width: 34%;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 36px;
  color: #343651;
}

footer #footer-content #footer-2 a, footer #footer-content #footer-3 a, footer #footer-content #footer-2 #main #main-content #main-column-1 #about .about-row .bold, #main #main-content #main-column-1 #about .about-row footer #footer-content #footer-2 .bold, footer #footer-content #footer-3 #main #main-content #main-column-1 #about .about-row .bold, #main #main-content #main-column-1 #about .about-row footer #footer-content #footer-3 .bold, footer #footer-content #footer-2 #main #main-content #main-column-1 #indexing .about-row .bold, #main #main-content #main-column-1 #indexing .about-row footer #footer-content #footer-2 .bold, footer #footer-content #footer-3 #main #main-content #main-column-1 #indexing .about-row .bold, #main #main-content #main-column-1 #indexing .about-row footer #footer-content #footer-3 .bold {
  text-decoration: none;
  color: #343651;
  opacity: 0.6;
}

footer #footer-content #footer-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
}

footer #footer-content #footer-3 #address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #footer-content #footer-3 #developers-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #343651;
  line-height: 21px;
  font-family: 'Century Gothic',sans-serif;
}

footer #footer-content #footer-3 #developers-name span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#056D7B), to(#11A083));
  background-image: linear-gradient(180deg, #056D7B 0%, #11A083 100%);
}

footer #footer-content #footer-4 {
  width: 9%;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer #footer-content #footer-4 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 5px -5px #333;
          box-shadow: 0 5px 5px -5px #333;
}
/*# sourceMappingURL=style.css.map */