@import 'config';


@mixin flex-parameters($direction, $alignment, $justification){
    display: flex;
    flex-direction: $direction;
    align-items: $alignment;
    justify-content: $justification;
}
@mixin basic-parameters{
    width: $primary-width;
    height: $primary-height;
}
@mixin font-parameters($weight, $size, $height, $color){
    font-family: 'Roboto', sans-serif;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    color: $color;
}
@mixin resolution-1{
    @media (max-width: 1366px) {
        @content;
    }
}
@mixin resolution-2{
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin resolution-3{
    @media (max-width: 712px) {
        @content;
    }
}
@mixin color($color, $headcolor){
    background: $headcolor;
        #header-content #header-center {
            .menu-item{
                &:hover::after{
                    background-color: $color;
                }
                .dropdown-menu a,
                ul li{
                    &:hover::before{
                        background-color: $color;
                    }
                }
            }
            .nav__dropdown-wrapper {
                li:hover::before{
                    background-color: $color;
                }
            }
        }
        @include resolution-2(){
            #header-content #header-center .menu-item{
                .dropdown-menu{
                    a:hover::before{
                        background-color: $color;
                    }
                }
            }
        }
}

/********************Header********************/
header{
    @include basic-parameters();
    @include flex-parameters(row, center, center);
    padding: 0 $paddingLR;
    background: $gradient-header-1;
    @include resolution-1(){
        padding: $paddingUD 5% 0;
    }
    &.color{
        #header-content #header-center {
            #header-text span{
                @include font-parameters(300, 16px, inherit, #FFFFFF);
            }
            #header-text h1 a{
                @include font-parameters(700, 41px, 1em, #FFFFFF);
            }
            .menu-item{
                a{
                    color: #ffffff;
                }
                .dropdown-menu a,
                ul li{
                    border: none;
                    color: #000000;
                }
            }
            .nav__dropdown-wrapper a{
                color: #000;
            }
        }
        @include resolution-2(){
            #header-content #header-center .menu-item{
                a{
                    color: #000;
                }
                .dropdown-menu{
                    background-color: transparent;
                    a{
                        background-color: transparent;
                        &:hover::before{
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }
    /* hissoc */
    &.color-2{
        @include color($color-2, $gradient-header-2);
    }
    /* hissoc color */
    &.color-3{
        @include color($color-3, $gradient-header-3);
    }
    /* pedadogy color */
    &.color-4{
        @include color($color-4, $gradient-header-4);
    }
    /* philology color */
    &.color-5{
        @include color($color-5, $gradient-header-5);
    }
    /* physmat color */
    &.color-6{
        @include color($color-6, $gradient-header-6);

    }
    #header-content{
        @include basic-parameters();
        @include flex-parameters(row, center, space-between);
        flex-wrap: wrap;
        .header-item{
            height: $header-height;
            @include resolution-2(){
                height: auto;
            }
        }
        #header-left{
            @include flex-parameters(column, center, center);
            width: 15%;
            background: #fff;
            #logo{
                cursor: pointer;
                margin: 15px;
            }
            @include resolution-2(){
               @include flex-parameters(row, center, flex-start);
                 width: 15%;
            }
            @include resolution-3(){
                  width: 20%;
             }
             @media (max-width: 482px){
                 width: 30%;
             }
        }
        #header-center{
            @include flex-parameters(column, flex-start, flex-end);
            width: 60%;
            @include resolution-2(){
                @include flex-parameters(column, center, space-between);
                width: 100%;
            }
            #burger{
                position: absolute;
                top: $paddingUD;
                right: 5%;
                img{
                    width: 50px;
                    height: auto;
                    @include resolution-3(){
                        width: 30px;
                    }
                }
            }
            .toggle, [id^=drop] {
                display: none;
            }
            #header-text{
                @include resolution-2(){
                    width: 100%;
                }
                span{
                    @include font-parameters(300, 16px, 60px, $heading-color);
                    @include resolution-3(){
                        font-size: 10px;
                    }
                }
                h1{
                    @include font-parameters(700, 41px, .8, $heading-color);
                    @include resolution-2(){
                        line-height: unset;
                    }
                    @include resolution-3(){
                        font-size: 28px;
                    }
                    @media (max-width: 482px){
                        font-size: 22px;
                        margin-top: 15px;
                    }
                }
            }        
        }
        
        #header-right{
            @include flex-parameters(column, flex-end, space-between);
            width: 20%;
            padding: 10px 0px;
            @include resolution-2(){
                @include flex-parameters(row, center, space-between);
                width: 100%;
                padding-bottom: 0;
            }
            .header-right-item{
                @include flex-parameters(row, center, center);
                li{
                    @include flex-parameters(column, center, center);
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        display: inline-block;
                        border-radius: 50%;
                        height: 10px;
                        width: 10px;
                        top: -5px;
                        background-color: transparent;
                    }
                    &:not(.current):hover{
                        &::before {
                            background-color: $heading-color;
                            transition: 0.3s;
                        }
                    }
                    &.current{
                        background-color: $heading-color;   
                        color: #FFFFFF
                    }
                }
            }
        }

        //.header-item children
        .menu-item {
            @include font-parameters(400, 18px, 30px, $heading-color);
            // @include flex-parameters(column, center, center);
            cursor: pointer;
            line-height: 1.2;
            a{
                color: $heading-color;
                background-color: transparent;
            }
        }
        .part-1{
            @extend .menu-item;
            background-color: #FFFFFF;
            color: $heading-color;
            padding: 12px 18px;
            border-radius: 27px;
            border: 0;
            margin: 0px 5px;
            font-size: 18px;
            @include resolution-2(){
                font-size: 14px;
                padding: 9px 12px;
                border-radius: 16px;
                margin: 7px 3px 0px 3px;
                line-height: unset;
            }
            @include resolution-3(){
                font-size: 12px;
                padding: 6px 9px;
            }
            &:hover{
                transition: 0.3s;
                box-shadow: 1px 18px 8px -11px #00000050;
            }
        }
        .part-2{
            @extend .part-1;
            width: 50px;
            height: 50px;
            padding: 17px 15px;
            font-size: 12px;
            border-radius: 50%;
            @include resolution-2(){
                width: 40px;
                height: 40px;
                font-size: 11px;
                margin: 7px 3px 0px 3px;
                line-height: unset;
            }
            @include resolution-3(){
                width: 30px;
                height: 30px;
                font-size: 10px;
            }
        }
    }
}

/********************Main Section********************/
#main{
    @include basic-parameters();
    @include flex-parameters(row, center, center);
    padding: 80px $paddingLR;
    background-color: #F4F6F8;
    position: relative;
    @include resolution-1(){
        padding: $paddingUD 5%;
    }
    /* socpolit color */
    &.color-2{
        #main-content #main-row-1 #info-search #information li a:hover::before{
            background-color: $color-2;
        }
    }
    /* hissoc color */
    &.color-3{
        #main-content #main-row-1 #info-search #information li a:hover::before{
            background-color: $color-3;
        }
    }
    /* pedadogy color */
    &.color-4{
        #main-content #main-row-1 #info-search #information li a:hover::before{
            background-color: $color-4;
        }
    }
    /* philology color */
    &.color-5{
        #main-content #main-row-1 #info-search #information li a:hover::before{
            background-color: $color-5;
        }
    }
    /* physmat color */
    &.color-6{
        #main-content #main-row-1 #info-search #information li a:hover::before{
            background-color: $color-6;
        }
    }
    #main-content{
        @include basic-parameters();
        @include flex-parameters(column, flex-start, center);
        ul.breadcrumb {
            @include flex-parameters(row, center, flex-start);
            list-style: none;
            margin-top: -40px;
            margin-bottom: 40px;
            @include resolution-1(){
                margin-top: -20px;
            }
            li {
                @include flex-parameters(row, center, center);
                @include font-parameters(400, unset, 16px, $heading-color);
                opacity: 0.5;
                position: relative;
                margin-right: 15px;
                &::before{
                    position: absolute;
                    display: inline-block;
                    content: '';
                    border-radius: 50%;
                    height: 5px;
                    width: 5px;
                    top: 5px;
                    left: -10px;
                    background-color: $heading-color;
                }
                &:first-child{
                    &::before{
                        display: none;
                    }
                }
                a {
                    color: $heading-color;
                    opacity: 0.5;
                    text-decoration: none;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        #form-mobile{
            display: none;
            width: 100%;
            height: 50px;
            background-color: #FFFFFF;
            border-radius: 30px;
            position: relative;
            margin-bottom: 40px;
            input{
                @extend #form-mobile;
                padding: 15px 30px;
                border: none;
                box-shadow: 1px 18px 8px -11px #E9EEF3;
            }
            button{
                height: auto;
                cursor: pointer;
                position: absolute;
                bottom: 15px;
                right: 15px;
                background-color: transparent;
                border: none;
                svg{
                    width: 100%;
                }
            }
            @include resolution-1(){
                display: flex;
            }
        }
        .main-row{
            @include basic-parameters();
            @include flex-parameters(row, flex-start, space-between);
            @include resolution-1(){
                flex-direction: column;
            }
            #list{
                @include flex-parameters(column, flex-start, flex-start);
                width: 55%;
                @include resolution-1(){
                    width: 100%;
                    padding-bottom: 50px;
                }
                p{
                    @include font-parameters(700, 26px, none, $heading-color);
                    margin-top: 30px;
                    @include resolution-3(){
                        font-size: 22px;
                    }
                }
                //to all lists in this block
                ul{
                    width: 100%;
                }
                #archives-list{
                    padding-top: 40px;
                    b{
                        @include font-parameters(700, unset, 18px, $heading-color);
                    }
                    .archives-item{
                        padding: 20px 0;
                        .inner-list{
                            @include flex-parameters(row, flex-start, space-between);
                            flex-wrap: wrap;
                            li{
                                width: 23%;
                                margin-top: 20px;
                                line-height: 24px;
                                background-color: #FFFFFF;
                                cursor: pointer;
                                text-align: center;
                                border-radius: 4px;
                                box-shadow: 1px 18px 8px -11px #E9EEF3;
                                @include resolution-3(){
                                    width: 48%; 
                                }
                                &:hover{
                                    box-shadow: 1px 18px 8px -11px #D6DCE3;
                                }
                                a{
                                    @include flex-parameters(row, center, center);
                                    position: relative;
                                    width: 100%;
                                    padding: 20px 0;
                                    @include font-parameters(400, unset, 16px, $heading-color);
                                    &::before {
                                        display: inline-block;
                                        position: absolute;
                                        content: '';
                                        border-radius: 50%;
                                        height: 10px;
                                        width: 10px;
                                        left: 10px;
                                        top: 20px;
                                        background-color: transparent;
                                    }
                                    &:hover{
                                        &::before {
                                            background-color: #71B9F9;
                                            transition: 0.3s;
                                        }
                                    }
                                }
                            }  
                        }
                    }
                }
            }
            #list-release{
                @include flex-parameters(column, flex-start, flex-start);
                width: 55%;
                @include resolution-1(){
                    width: 100%;
                    padding-bottom: 50px;
                }
                p{
                    @include font-parameters(300, 16px, 24px, $heading-color);
                    margin-top: 30px;
                    @include resolution-3(){
                        font-size: 14px;
                        margin-top: 10px;
                    }
                }
                h2{
                    @include font-parameters(700, 30px, unset, $heading-color);
                    margin-top: 30px;
                    @include resolution-3(){
                        font-size: 22px;
                    }
                }
                #table-head{
                    @include basic-parameters();
                    @include flex-parameters(row, center, space-between);
                    margin-top: 80px;
                    @include resolution-3(){
                        margin-top: 40px;
                    }
                    div{
                        @include flex-parameters(row, center, center);
                        @include font-parameters(400, 16px, 24px, $heading-color);
                        background-color: #FFFFFF;
                        padding: 20px 40px;
                        border-radius: 4px;
                        @include resolution-3(){
                            padding: 30px 10px;
                            font-size: 11px;
                        }
                        &:nth-child(1){
                            width: 38%;
                            justify-content: flex-start;
                        }
                        &:nth-child(2){
                            width: 23%;
                        }
                        &:nth-child(3){
                            width: 19%;
                        }
                        &:nth-child(4){
                            width: 17%;
                        }
                    }
                }

                #themes-list{
                    @include basic-parameters();
                    @include flex-parameters(column, flex-start, flex-start);
                    margin-top: 20px;
                    li{
                        @include basic-parameters();
                        @include flex-parameters(row, center, space-between);
                        position: relative;
                        margin-top: 20px;
                        background-color: #FFFFFF;
                        border-radius: 4px;
                        box-shadow: 1px 18px 8px -11px #E9EEF3;
                        > div{
                            @include flex-parameters(row, center, center);
                            @include font-parameters(400, 16px, 24px, $heading-color);
                            padding: 30px 40px;
                            @include resolution-3(){
                                padding: 30px 10px;
                                font-size: 11px;
                            }
                            &:nth-child(1){
                                width: 38%;
                                justify-content: flex-start;
                            }
                            &:nth-child(2){
                                width: 23%;
                            }
                            &:nth-child(3){
                                width: 19%;
                                text-align: center;
                            }
                            &:nth-child(4){
                                width: 17%;
                                @include flex-parameters(column, center, center);
                                svg{
                                    width: 30px;
                                    height: auto;
                                    fill: $heading-color;
                                    &:hover{
                                        fill: #71B9F9;
                                    }
                                }
                            }
                        }
                        &::before{
                            position: absolute;
                            display: inline-block;
                            content: '';
                            border-radius: 50%;
                            height: 10px;
                            width: 10px;
                            top: 50%;
                            left: 15px;
                            background-color: transparent;
                        }
                        &:hover{
                            cursor: pointer;
                            box-shadow: 1px 18px 8px -11px #D6DCE3;
                            &:before{
                                background-color: #71B9F9;
                            }
                        }
                    }
                }
                #pagination{
                    @include basic-parameters();
                    @include flex-parameters(row, center, flex-start);
                    @include resolution-3(){
                        justify-content: space-between;
                    }
                    margin-top: 40px;
                    li{
                        margin-right: 10px;
                        @include resolution-3(){
                            margin-right: unset;
                        }
                        button{
                            @include flex-parameters(column, center, center);
                            @include font-parameters(400, 18px, unset, $heading-color);
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            border: none;
                            background-color: #FFFFFF;
                            box-shadow: 1px 18px 8px -11px #E9EEF3;
                            position: relative;
                            @include resolution-3(){
                                width: 40px;
                                height: 40px;
                            }
                            &::before{
                                position: absolute;
                                display: inline-block;
                                content: '';
                                border-radius: 50%;
                                height: 10px;
                                width: 10px;
                                top: -5px;
                                background-color: transparent;
                            }
                            &:hover{
                                box-shadow: 1px 20px 8px -11px #D6DCE3;
                                &::before{
                                    background-color: $heading-color;
                                }
                            }
                            &:active{
                                background-color: $heading-color;
                                color: #FFFFFF;
                                svg{
                                    path{
                                        stroke: #FFFFFF;
                                    }
                                }
                            }
                        }       
                    }
                }
            }
            #info-search{
                @include flex-parameters(column, flex-start, flex-start);
                width: 30%;
                @include resolution-1(){
                    width: 100%;
                }
                #search{
                    width: 100%;
                    height: 50px;
                    background-color: #FFFFFF;
                    border-radius: 30px;
                    position: relative;
                    margin-bottom: 80px;
                    @include resolution-1(){
                        display: none;
                    }
                    input{
                        @extend #search;
                        padding: 15px 30px;
                        border: none;
                        box-shadow: 1px 18px 8px -11px #E9EEF3;
                    }
                    button{
                        height: auto;
                        cursor: pointer;
                        position: absolute;
                        bottom: 15px;
                        right: 15px;
                        background-color: transparent;
                        border: none;
                        svg{
                            width: 100%;
                        }
                    }
                }
                P{
                    @include font-parameters(700, 24px, 24px, $heading-color);
                }
                #information{
                    @include basic-parameters();
                    @include flex-parameters(row, center, space-between);
                    flex-wrap: wrap;
                    @include resolution-3(){
                        flex-direction: column;
                        margin-left: 0;
                    }
                    li{
                        width: 45%;
                        margin-top: 30px;
                        background-color: hsl(0, 0%, 100%);
                        @include resolution-2(){
                            width: 100%;
                            br{
                                display: none;
                            }
                        }
                        a{
                            @include flex-parameters(row, center, center);
                            @include font-parameters(400, unset, 16px, $heading-color);
                            position: relative;
                            width: 100%;
                            padding: 30px 0;
                            box-shadow: 1px 18px 8px -11px #E9EEF3;
                            border-radius: 4px;
                            @include resolution-1(){
                                justify-content: flex-start;
                                padding-left: 20px;
                            }
                            &::before{
                                display: inline-block;
                                position: absolute;
                                content: '';
                                border-radius: 50%;
                                height: 10px;
                                width: 10px;
                                left: 10px;
                                top: 10px;
                                background-color: transparent;
                            }
                            &:hover{
                                box-shadow: 1px 18px 8px -11px #D6DCE3;
                                &::before{
                                    background-color: #71B9F9;
                                }
                            }
                        }
                    }
                }
            }           
        }
        #main-row-1{
            @include basic-parameters();
            @include flex-parameters(row, flex-start, space-between);
            @include resolution-1(){
                flex-direction: column;
            }
            #about{
                @include basic-parameters();
                @include flex-parameters(column, flex-start, center);
                width: 65%;
                background-color: #FFFFFF;
                padding: 60px;
                border-radius: 4px;
                @include resolution-1(){
                    width: 100%;
                    margin-bottom: 80px;
                    padding: 60px 30px;
                }
                .about-row{
                    @include basic-parameters();
                    @include flex-parameters(row, flex-start, space-between);
                    @include resolution-3(){
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    #about-image{
                        width: 35%;
                        height: auto;
                        box-shadow: 0px 0px 56px 1px rgba(214, 220, 227, 0.75);
                        border-radius: 4px;
                        @include resolution-2(){
                            width: 40%;
                        }
                        @include resolution-3(){
                            width: auto;
                        }
                    }
                    #about-text{
                        width: 60%;
                        height: auto;
                        @include resolution-2(){
                            width: 55%;
                        }
                        @include resolution-3(){
                            width: 100%;
                            margin: 50px 0px;
                        }
                        h2{
                            @include font-parameters(700, 26px, unset, $heading-color);
                            @include resolution-3(){
                                font-size: 22px;
                            }
                        }
                        p{
                            @include font-parameters(400, 14px, 24px, #000000);
                            margin-top: 10px;
                            @include resolution-2(){
                                margin-top: 25px;
                                line-height: 21px;
                            }
                            @include resolution-3(){
                                line-height: unset;
                            }
                            br{
                                @include resolution-2(){
                                    display: none;
                                }
                            }
                        }
                    }
                    .authorship-column{
                        @include flex-parameters(column, flex-start, flex-start);
                        div{
                            @include basic-parameters();
                            @include flex-parameters(column, flex-start, flex-start);
                            @include font-parameters(400, 14px, 24px, #000000);
                            margin-top: 50px;
                            @include resolution-2{
                                margin-top: 20px;
                            }
                            strong{
                                @include font-parameters(700, 14px, 24px, #000000);
                            }
                        }
                    }
                    #column-1{
                        width: 35%;
                        height: auto;
                        @include resolution-2{
                            width: 40%;
                        }
                        @include resolution-3{
                            width: 100%;
                        }
                    }
                    #column-2{
                        width: 60%;
                        height: auto;
                        @include resolution-2{
                            width: 55%;
                        }
                        @include resolution-3{
                            width: 100%;
                        }
                    }
                    
                }
                #layer-block{
                    @include resolution-3(){
                        align-items: center;
                    }
                }
            }
            #info-search{
                @include flex-parameters(column, flex-start, flex-start);
                width: 30%;
                @include resolution-1(){
                    width: 100%;
                }
                #search{
                    width: 100%;
                    height: 50px;
                    background-color: #FFFFFF;
                    border-radius: 30px;
                    position: relative;
                    margin-bottom: 80px;
                    @include resolution-1(){
                        display: none;
                    }
                    input{
                        @extend #search;
                        padding: 15px 30px;
                        border: none;
                        box-shadow: 1px 18px 8px -11px #E9EEF3;
                    }
                    button{
                        height: auto;
                        cursor: pointer;
                        position: absolute;
                        bottom: 15px;
                        right: 15px;
                        background-color: transparent;
                        border: none;
                        svg{
                            width: 100%;
                        }
                    }
                }
                P{
                    @include font-parameters(700, 24px, 24px, $heading-color);
                }
                #information{
                    @include basic-parameters();
                    @include flex-parameters(row, center, space-between);
                    flex-wrap: wrap;
                    @include resolution-3(){
                        flex-direction: column;
                        margin-left: 0;
                    }
                    li{
                        width: 45%;
                        margin-top: 30px;
                        background-color: hsl(0, 0%, 100%);
                        @include resolution-2(){
                            width: 100%;
                            br{
                                display: none;
                            }
                        }
                        a{
                            @include flex-parameters(row, center, center);
                            @include font-parameters(400, unset, 16px, $heading-color);
                            position: relative;
                            width: 100%;
                            padding: 30px 0;
                            box-shadow: 1px 18px 8px -11px #E9EEF3;
                            border-radius: 4px;
                            @include resolution-1(){
                                justify-content: flex-start;
                                padding-left: 20px;
                            }
                            &::before{
                                display: inline-block;
                                position: absolute;
                                content: '';
                                border-radius: 50%;
                                height: 10px;
                                width: 10px;
                                left: 10px;
                                top: 10px;
                                background-color: transparent;
                            }
                            &:hover{
                                box-shadow: 1px 18px 8px -11px #D6DCE3;
                                &::before{
                                    background-color: #71B9F9;
                                }
                            }
                        }
                    }
                }
            }           
        }
        #main-row-2{
            @include flex-parameters(row, flex-start, flex-start);
            width: 65%;
            padding-top: 80px;
            @include resolution-1(){
                width: 100%;
            }
            #indexing{
                @include basic-parameters();
                p{
                    @include font-parameters(700, 24px, 24px, $heading-color);
                }
                .swiper-container{
                    @include basic-parameters();
                    @include flex-parameters(row, center, center);
                    background-color: #FFFFFF;
                    padding: 30px 15px;
                    margin-top: 50px;
                    border-radius: 4px;
                    .swiper-wrapper{
                        @include flex-parameters(row, center, space-between);
                        a{
                            @include flex-parameters(row, center, center);
                            cursor: pointer;
                            img{
                                width: 120px;
                                height: auto;
                                margin: 15px;
                                filter: grayscale(90%);
                            }
                            img:hover{
                                filter: unset;
                            }
                        }
                    }
                    .swiper-pagination-bullet{
                        background-color:$heading-color;
                    }
                }
            }
        }
    }
}


/********************Footer********************/
footer{
    @include basic-parameters();
    @include flex-parameters(row, center, center);
    padding: $paddingUD $paddingLR;
    background: $gradient-footer;
    @include resolution-1(){
        padding: $paddingUD 5%;
    }
    #footer-content{
        @include basic-parameters();
        @include flex-parameters(row, flex-start, space-between);
        flex-wrap: wrap;
        @include resolution-2(){
            flex-direction: column-reverse;
            align-items: flex-end;
        }
        #footer-1{
            width: 19%;
            @include flex-parameters(row, flex-start, flex-start);
            @include resolution-2{
                display: none;
            }
        }
        #footer-2{
            width: 68%;
            @include flex-parameters(column, flex-start, space-between);
            @include font-parameters(400, 12px, 36px, $heading-color);

            @include resolution-2(){
                width: 100%;
            }

            #footer-2-1{
                @include basic-parameters();
                @include flex-parameters(row, flex-start, space-between);
                #requisites {
                    width: 50%;
                    text-align: left;
                }
                #address {
                    @include flex-parameters(column, flex-end, center);
                    width: 50%;
                    text-align: right;
                }
            }

            #footer-2-2{
                @extend #footer-2-1;
                margin-top: 40px;

                @include resolution-3(){
                    @include flex-parameters(column, flex-end, flex-start);
                }
                #editors-name{
                    @include flex-parameters(row, flex-end, center);
                    color: $heading-color;
                    line-height: 21px;
                    font-family: 'Century Gothic',sans-serif;
                }
                #developers-name{
                    @include flex-parameters(row, flex-end, center);
                    @extend #editors-name;

                    @include resolution-3(){
                        margin-top: 20px;
                    }
                }
            }
            //for all p,span,a in this block
            p,span,a{
                text-decoration: none;
                color: $heading-color;
                opacity: 0.6;
                @include resolution-3(){
                    line-height: 18px;
                }
            }
        }
        #footer-3{
            width: 9%;
            @include flex-parameters(row, flex-start, flex-end);
            a{
                @include flex-parameters(row, center, center);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                cursor: pointer;
                @include resolution-2(){
                    width: 30px;
                    height: 30px;
                    margin-bottom: 20px;
                }
                @include resolution-3(){
                    width: 20px;
                    height: 20px;
                }
                &:hover{
                    box-shadow: 1px 18px 8px -11px #E9EEF3;
                }
            }
            @include resolution-2(){
                width: auto;
            }
        }
    }
}

// main menu
nav{
    width: 100%;
    margin-top: 25px;
    .main-menu{
        position: relative;
        .priority-nav__wrapper{
            button{
                background-color: $heading-color;
                border: none;
                color: #fff;
                padding: 5px;
                width: 30px;
                height: 30px;
                font-size: 1em;
                line-height: 0px;
                border-radius: 15px;
            }
        }
        .priority-nav__wrapper{
            margin-left: 25px;
        }
        ul.priority-nav__dropdown{
            position: absolute;
            width: auto;
            left: 0;
            z-index: 9;            
            background-color: #fff;
            box-shadow: 0px 35px 30px -25px #00000030;
            border-radius: 4px;
            padding-top: 15px;
            > li{
                display: block;
                padding: 10px 25px 10px 35px;
                li{
                    margin-left: 15px;
                    &::before{
                        left: -15px;
                    }
                    a{
                        color: #000000;
                    }
                }
            }
            li{
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 15%;
                    left: 15px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: transparent;
                    transition: all .5s ease-in-out;
                }
                &:hover::before{
                    background-color: $color;
                }
            }
        }
    }
    .menu{
        width: auto;
        margin-bottom: 0;
        li{
            display: inline-block;
            min-width: 150px;
            max-width: 320px;
            position: relative;
            text-align: center;
            padding-bottom: 15px;
            white-space: normal;
            line-height: 1.2;
            &:hover{
                > ul{
                    display: block;
                }
            }
            &.dropdown{
                &:hover{
                    &::before{
                        border-top-color: #343651;
                        border-right-color:#343651;
                        border-bottom-color: #343651;
                        border-left-color:#343651;
                        transform:rotate(180deg);
                    }
                }
                &::before{
                    content: '';
                    position: absolute;
                    left: 50%;
                    margin-left: -2.5px;
                    z-index: 10;
                    bottom: -6px;
                    width: 0;
                    height: 0;
                    border: 6px solid transparent;
                    border-top-color: #34365128;
                    border-right-color:#34365128;
                    transform: rotate(-45deg);
                    border-radius: 50%;
                    transition: all .5s ease-in-out;
                }
            }
        }
        ul, .dropdown-menu{
            display: none;
            position: absolute;
            top: 100%!important;
            z-index: 9;
            background-color: #fff;
            width: 320px;
            padding-top: 30px;
            box-shadow: 0px 35px 30px -25px #00000030;
            border-radius: 4px;
            transform: none!important;
            &.show{
                display: block;
                @include resolution-2(){
                    box-shadow: none;
                    position: relative!important;
                }
            }
            > li, a{
                display: block;
                position: relative;
                text-align: left;
                padding-left: 35px;
                white-space: normal;
                line-height: 1.4;
                padding-bottom: 15px;
                &::before{
                    content: '';
                    position: absolute;
                    top: 15%;
                    left: 15px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: transparent;
                    transition: all .5s ease-in-out;
                }
                &:hover::before{
                    background-color: $color;
                }
            }
        }
    }
}

@keyframes rotate{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(180deg)
    }
}
// mobile menu
.mmenu{
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 5%;
}

@include resolution-2(){
    .mmenu{
        display: block;
    }
    nav{
        text-align: center;
        .main-menu{
            display: none;
            text-align: center;
            background-color: #fff;
            margin: 25px 0;
            border-radius: 5px;
            &.show{
                display: block;
            }
            ul {
                text-align: center;
                li.dropdown{
                    padding-bottom: 0;
                    &::before, &::after{
                        content: none;
                    }
                }
                > li{
                    padding: 15px 0;
                    width: auto;
                }
                li{
                    display: block;
                    margin: 0 auto;
                }
                ul{
                    // display: block;
                    position: relative;
                    background: transparent;
                    box-shadow: none;
                    padding-top: 0;
                    li{
                        position: relative;
                        margin-left: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
    header.color #header-content #header-center .menu-item .dropdown-menu a{
        padding: 15px 0;
        text-align: center;
    }
}